.env
*.csv
*.json
*.mp4
models/yolo_people_fire_smoke/__pycache__/
models/yolo_people_fire_smoke/runs/
*__pycache__
*.avif
*.pt
inference/pipeline/runs/
inference/pipeline/target/
tools/data/
logs/
yolovenv
target/
src/
runs/
target/